<div data-controller="collapsible-form" data-expanded-height="150px">
  <button
    class="btn btn-outline-primary w-100"
    <%# data-action replaces documentSelector + addEventListener('click', () => { // Do some stuff here }) %>
    data-action="click->collapsible-form#expandForm"
    >Leave a review for <%= restaurant.name %>
  </button>
  <%= render 'reviews/form', restaurant: restaurant, review: review %>
</div>
